<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Found</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/img/insurance-logo.png">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/static/img/insurance-logo.png" alt="Insurance Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="error-container">
        <div class="error-content">
            <h1>OOPS! Something went wrong</h1>
            <p>We encountered an error while processing your request. Please try again.</p>
            <div class="error-gif">
                <img src="/static/img/error.gif" alt="Error animation">
            </div>
            <a href="/" class="btn-home">Go Back Home</a>
        </div>
    </div>
</body>
</html>
